@model CarDealershipASPNETMVC.Models.CarAccessoriesUnitModel
@{
}
<br />
<h2>Edit Einheit</h2>

<form method="post" action="Edit" class="mt-5">
     <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.CAUId)</label>
        <div class="col-sm6">
            <input type="number" class="form-control" asp-for="CAUId" readonly>
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.UnitName)</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="UnitName">
        </div>
    </div>
<br />
    <button type="submit" class="btn-primary">Submit</button>
</form>