@model CarDealershipASPNETMVC.Models.CarAccessoriesInsertUpdateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Auto Zubehör</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAPGName" class="control-label"></label>
                <div>
                 @Html.DropDownListFor(model => model.CAPGName, new SelectList( ViewBag.CarAccessoriesProductGroup, "CAPGName", "CAPGName"), "Select Product Group")
                </div>
                <span asp-validation-for="CAPGName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOfStock" class="control-label"></label>
                <input asp-for="QuantityOfStock" class="form-control" />
                <span asp-validation-for="QuantityOfStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumStockQuantity" class="control-label"></label>
                <input asp-for="MinimumStockQuantity" class="form-control" />
                <span asp-validation-for="MinimumStockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetSellingPrice" class="control-label"></label>              
                <input asp-for="NetSellingPrice" class="form-control" />
                <span asp-validation-for="NetSellingPrice" class="text-danger"></span>              
            </div>
            <div class="form-group">
                <label asp-for="SalesUnit" class="control-label"></label>
                <input asp-for="SalesUnit" class="form-control" />
                <span asp-validation-for="SalesUnit" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="UnitName" class="control-label"></label>
                 <div>
                @Html.DropDownListFor(model => model.UnitName, new SelectList( ViewBag.CarAccessoriesUnit, "UnitName", "UnitName"), "Select the Unit")               
                </div>
                <span asp-validation-for="UnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdateTime" class="control-label"></label>
                <input asp-for="LastUpdateTime" class="form-control" />
                <span asp-validation-for="LastUpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

