@model CarDealershipASPNETMVC.Models.OrderStatusModel
@{
}
<br />
<h2>Edit Auftragsstatus</h2>

<form method="post" action="Edit" class="mt-5">
     <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.OrderStatusId)</label>
        <div class="col-sm6">
            <input type="number" class="form-control" asp-for="OrderStatusId" readonly>
        </div>
    </div>
    <div class="row-mb3">
        <label class="col-sm3 col-form-label">@Html.DisplayNameFor(model => model.OrderStatusName)</label>
        <div class="col-sm6">
            <input type="text" class="form-control" asp-for="OrderStatusName">
        </div>
    </div>
<br />
    <button type="submit" class="btn-primary">Submit</button>
</form>